* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "jost";
  src: url(./font/Jost-VariableFont_wght.ttf);
}

:root {
  --navbar: linear-gradient(to right, #3533ba, #3636bc);
  --darkPurple: #2e2c9a;
  --lightPurple: #3c3cbc;
  --body: #fafcfe;
  --table-purple: #f5f1fd;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--body);
}

#navbar {
  background: var(--navbar);
  width: 100%;
  text-align: center;
}

#navbar ul {
  display: flex;
}

#students {
  border: 1px solid white;
}

.cap {
  width: 4rem;
  background-color: var(--darkPurple);
  border-radius: 50px;
}

.form {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

#add-member {
  color: var(--lightPurple);
}

#submit {
  background-color: var(--lightPurple);
}

.form {
  width: 50%;
}

.student-body,
.allStudent-text {
  background-color: var(--body) !important;
}

.table-head th {
  background-color: var(--table-purple);
}

.edit {
  background: none;
  border: 2px solid blue;
  color: blue;
}
.dlt {
  background: none;
  border: 2px solid red;
  color: red;
}

.btns {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px !important;
}

.btns button {
  white-space: nowrap;
}
.btns i {
  display: none;
}

@media (max-width: 768px) {
  .form {
    width: 95%;
  }
}
